site_name: G-nom Docs
site_url: https://g-nom-project.github.io
repo_url: https://github.com/G-nom-Project/g-nom
repo_name: G-nom-Project/g-nom
theme:
  logo: assets/gnom.png
  favicon: assets/gnom.png
  icon:
    repo: fontawesome/brands/github 
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

nav:
  - Welcome to the G-nom docs: index.md
  - G-nom Core: core.md
  - User Guide:
    - How to read this guide: user-guide/guide.md
    - Signing up: signup.md
    - User dashboard: user-guide/dashboard.md
    - Data hierarchy: user-guide/data-hierarchy.md
    - Assembly Page: user-guide/assembly-page.md
    - Genome Browser: user-guide/browser.md
    - Importing data: user-guide/import.md
  - Admin Guide:
    - Installation: setup.md
    - Plugins: plugins.md
  - Pipelines: pipelines.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format